.Nav{
    background-color: rgb(250, 241, 232);
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 400px;
}

.links {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}