.homeh1 {
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.homep {
    width: 80%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

.homebk,
.homemc {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.paddingTop {
    padding-top: 100px;
}